<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>SFGC</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="http://webthemez.com" />
<!-- css -->
<link href="css/bootstrap.min.css" rel="stylesheet" />
<link href="css/fancybox/jquery.fancybox.css" rel="stylesheet">
<link href="css/jcarousel.css" rel="stylesheet" />
<link href="css/flexslider.css" rel="stylesheet" />
<link href="css/style.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="js/app.js"></script>
 
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body ng-app="sfgc" ng-controller="Controller" ng-init="listAllDocuments(0,'')">
<div id="wrapper">

	<!-- start header -->
		<header>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="img/sfgc/logo.png" alt="logo" style="height: 82px;width: 129px"/></a>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        <li><a href="index.html">Home</a></li> 
						<li><a href="about.html">About Us</a></li>
						<li><a href="motto.html">Our Motto</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                        <li class="active"><a href="document.html">Document</a></li>
                       <!--  <li><a href="pricing.html">Pricing</a></li>
                        <li><a href="contact.html">Contact</a></li> -->
                    </ul>
                </div>
            </div>
        </div>
	</header><!-- end header -->
	<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">Documents</h2>
			</div>
		</div>
	</div>
	</section>
	<section id="content">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<!-- <ul class="portfolio-categ filter">
					<li class="all active"><a href="#">All</a></li>
					<li class="web"><a href="#" title="">Web design</a></li>
					<li class="icon"><a href="#" title="">Mobile App</a></li>
					<li class="graphic"><a href="#" title="">UI design</a></li>
				</ul> -->
				<div class="clearfix">
				</div>
				<div class="row">
				<section id="projects">
					<ul id="thumbs" class="portfolio">
					<div class="row">
						<!-- Item Project and Filter Name -->
						<li class="item-thumbs col-lg-3 design" data-id="id-0" data-type="web" ng-repeat="document in documents">
							<!-- Fancybox - Gallery Enabled - Title - Full Image -->
							<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Document" href={{document.documentPath}}>
							<span class="overlay-img"></span>
							<span class="overlay-img-thumb"><i class="icon-info-blocks fa fa-search"></i></span>
							</a>
							<!-- Thumb Image and Description -->
							<iframe src={{document.documentPath}} style="height: 250px;width: 250px"></iframe>
						</li>
						
					</div>
					</ul>
					<div class="text-center ng-cloak" ng-show="showPaginationForDocument">
                            <br/>
                            <div class="btn-group">
                                <button ng-disabled="currentPageForDocument == 1" class="btn btn-white" max-size="maxSize" boundary-links="true" ng-click="listAllDocuments(1,previousPageUrlForDocument)"><i class="fa fa-chevron-left"></i></button>
                                <button class="btn btn-primary ng-cloak" max-size="maxSize" boundary-links="true">{{currentPageForDocument}}/{{lastPageForDocument}}</button>
                                <button ng-disabled="currentPageForDocument == lastPageForDocument" class="btn btn-white" max-size="maxSize" boundary-links="true" ng-click="listAllDocuments(1,nextPageUrlForDocument)"><i class="fa fa-chevron-right"></i></button>
                            </div>
                        </div>
				</section>

				</div>
			</div>
		</div>
	</div>
	</section>
	 <marquee class="li customFooter" direction=”right” ng-init="listAllNews()">{{flashNews}}</marquee>
	<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="widget">
                    <h5 class="widgetheading">Our Contact</h5>
                    <address>
                    <strong>Sharavathi First Grade College-Konandur</strong><br>
                    Thirthahalli Taluk Shivamogga District. Karnataka<br>
                     Pin-577 422.</address>
                    <p>
                       <i class="icon-phone"></i>Ph : 08181 276635<br>
                        <i class="icon-envelope-alt"></i>e-mail : sfgckonandur@gmail.com
                    </p>
                </div>
            </div>
           <div class="col-lg-3">
                <!-- <div class="widget">
                    <h5 class="widgetheading">Quick Links</h5>
                    <ul class="link-list">
                        <li><a href="#">Latest Events</a></li>
                        <li><a href="#">Terms and conditions</a></li>
                        <li><a href="#">Privacy policy</a></li>
                        <li><a href="#">Career</a></li>
                        <li><a href="#">Contact us</a></li>
                    </ul>
                </div> -->
            </div>
            <div class="col-lg-3">
                <div class="widget">
                    <h5 class="widgetheading">Quick Links</h5>
                    <ul class="link-list">
                        <li><a href="http://logisys.net.in/studentportal/sign-in.html">Student Portal Link</a></li>
                        <li><a href="http://logisys.net.in/results/kus/">Result Link</a></li>
                    
                    </ul>
                </div>
            </div>
            <!--  <div class="col-lg-3">
                    <div class="widget">
                    <h5 class="widgetheading">Recent News</h5>
                    <ul class="link-list">
                        <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></li>
                        <li><a href="#">Pellentesque et pulvinar enim. Quisque at tempor ligula</a></li>
                        <li><a href="#">Natus error sit voluptatem accusantium doloremque</a></li>
                    </ul>
                </div>
            </div> 
        </div>
    </div>
    <div id="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="copyright">
                        <p>
                            <span>&copy; Genius Educational 2015 All right reserved. By </span><a href="http://webthemez.com" target="_blank">WebThemez</a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ul class="social-network">
                        <li><a href="#" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#" data-placement="top" title="Google plus"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>-->
    </footer>
</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.fancybox-media.js"></script> 
<script src="js/portfolio/jquery.quicksand.js"></script>
<script src="js/portfolio/setting.js"></script>
<script src="js/jquery.flexslider.js"></script>
<script src="js/animate.js"></script>
<script src="js/custom.js"></script>
</body>
</html>