<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>SFGC</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="http://webthemez.com" />
<!-- css -->
<link href="../sfgc/css/bootstrap.min.css" rel="stylesheet" />
<link href="../sfgc/css/fancybox/jquery.fancybox.css" rel="stylesheet">
<link href="../sfgc/css/jcarousel.css" rel="stylesheet" />
<link href="../sfgc/css/flexslider.css" rel="stylesheet" />
<link href="../sfgc/js/owl-carousel/owl.carousel.css" rel="stylesheet">
<link href="../sfgc/css/style.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="js/app.js"></script>
 
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body ng-app="sfgc" ng-controller="Controller">
<div id="wrapper" class="home-page">
	<!-- start header -->
	<header>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="../sfgc/img/sfgc/logo.png" alt="logo" style="height: 82px;width: 129px"/></a>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="index.html">Home</a></li> 
				        <li><a href="../sfgc/about.html">About Us</a></li>
				        <li><a href="../sfgc/motto.html">Our Motto</a></li>
                       <li><a href="../sfgc/gallery.html">Gallery</a></li>
                       <li><a href="../document.html">Document</a></li>
                        <!-- <li><a href="contact.html">Contact Us</a></li> -->
                    </ul>
                </div>
            </div>
        </div>
	</header>
	<!-- end header -->
	<section id="banner">
	 
	<!-- Slider -->
        <div id="main-slider" class="flexslider" style="margin-top:-50px">
            <ul class="slides">
              <li>
                <img class="responsiveImg" style="height: 800px" src="../sfgc/img/sfgc/02.jpg" alt="" />
                <div class="flex-caption container">
                    <h3 style="text-align: center;"">Sharavathi First Grade College-Konandur</h3>
                     <!-- <h2 style="text-align: center;"">Thirthahalli Taluk</h2> 
                      <h2 style="text-align: center;"">Shivamogga District</h2>  -->
					<!-- <p>Education is a path, not a destination</p>  -->
					<!-- <a href="#" class="btn btn-theme">Read More</a> -->
                </div>
              </li>
              <!-- <li>
                <img src="img/sfgc/03.JPG" alt="" />
                <div class="flex-caption container">
                    <h3>Education Genius</h3> 
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing<br/> elitincidunt eius magni provident.</p> 
					<a href="#" class="btn btn-theme">Read More</a>
                </div>
              </li> -->
            </ul>
        </div>
       <marquee class="li customFooter" direction=”right” ng-init="listAllNews()">{{flashNews}}</marquee>
	<!-- end slider -->
 
	</section>
	<section class="txt-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div style="text-align: justify;"><h1 class="aligncenter">About our Institution</h1><br/>
                    National Education Society ®, Shivamogga, the parent body of sharavathi First Grade College, Konandur is a famous name  in  the educational field  of our  state. It  was  established in 1946 by leading  citizens  of Shivamogga, with the concern  of  serving the  cause  of education  for  the children of Malanad Region.  Late Mr. H.S.Rudrappa, Ex Minister of Karnataka was the  founder  president of  the  society late  Mr. S.V.Krishnamurthy Rao,  Ex Deputy  Speaker of Lokasaba,  Late Mr. S.R.Nagappa Shetty, Ex-M.L.A.,  were  the  founder  secretaries.  Late Mr. Jayathirthachar an  eminent educationist  and  leading  advocate , Late Mr. P.Murudappa,  Gandian  and  a leading  advocate,  Late  Sri Mahishi Narasimma Murthy , an eminent scholar and  leading advocate,  Late  Mr. Basappa Patil,  Freedom fighter, and  Agriulcuturist and  Late  Mr. D.S.Dinakar, freedom fighter served  as  Presidents  after  Mr. H.S.Rudrappa.  Late  Mr. Girimaji N. Rajagopal, freedom fighter served as Secretary after  Mr. S.R.Nagappa Shetty. Late  Mr.  Dodya Naik, Ex-M.L.A.  served as  Treasurer.      
                    It  is  a matter  of  great pride for  the  society  to  remember  the  visit  of  Late Dr. Babu Rajendra Prasad, Former  President  of  India  in-connection with  the  opening  ceremony of  national  boys high  school  in  1949  and  also  the  visit  of  Late  Sri  Lal Bahuddur Shastry,  Former  Prime Minister  of  India, in-connection  with  the  foundation  lying  ceremony of  Kamala Nehru  Memorial National  College  of  Arts  and  Commerce for  Women,  Shivamogga on  24th  January  1965.  
                    National Education Society ®  started its educational  activities by  starting a  High School  at  Shivamogga in  1946.  Now it is managing 42  educational  institutions of  various  disciplines  including  Post Graduate  course  in  Computer  Applications, Business  Administration,  Computer  Science,  Engineering,  I.C.S.C.  and  C.B.S.C. Residential  Schools.  Out of which 3-General colleges, 5-Professional colleges, 2-Technical colleges and the rest are Pre-university colleges,  High schools,  Residential  schools and  Primary schools.</div>	
			</div>
		</div>
	</div>
	</section>

    <section class="txt-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div style="text-align: justify;"><h1 class="aligncenter">About our College</h1><br/>
                    National  Education  Society ® Shivamogga is the parent body of Sharavathi  First Grade  College,  Konandur.  The  senior  citizens  of  the  Kondnaur village, Thirthahalli Taluk  Shivamogga District,  started Vidya Vardhaka Sangha in 1960 with the objective of  starting  a  High School at Konandur.  In those days, secondary education was a dream to the  people  of  rural  areas.  Vidya Vardhaka Sangha  with  the  help  of  N.E.S. Shivamogga  started  National  High  School  at  Konandur  in  1960.  Sharavathi  First  Grade  College  was started  in  1983 to  provide Higher  Education to  the  Rural  students.  Formerly  the  college  was  named  as N.E.S. Rural  First Grade  College  of  Arts  and  Commerce.  Later  the  name  was  changed as  Sharavathi  First Grade  College,  Konandur. In  the  beginning  the  college  was  affiliated  to  the  University  of Mysore.  Now it  is  affiliated  to  Kevempu  University.  We  are  proud  to  say  that  the  college  has  got,  permanent  affiliation  and included in 2 (F)and 12 (B) of  U.G.C. act 1956.  
                    The  college  is  located  at Konandur,  a small village  in  Thirthahalli  Taluk, Shivamogga  District on Ganga Moola  - Tadasa  State High way  no # 1.  The  campus is located  in an area of  about  35 acres, out of which the  college  campus  measures about  8 acres.  It  is  the  only  First Grade  College in a radius  of about  20  kms  which  caters  the  need  of  rural  students,  particularly the  women  students.  The  main objective  of  the  management  is  to  provide quality  education  to  the rural  students.  In  our  college about  65 % of the  students are  girl students.  They  would  have  been  deprived  of  higher  education  but for  this  attempt  of  National  Education  Society ® Shivamogga. 
                    The  college has  an excellent infrastructure  facility :- Class rooms ,  Assembly  hall,  Library , Separate rest room for  girls  and  boys, Ladies hostel, Fully  equipped  gymnasium and playground .
                    The  college  has  qualified,  hard working  enthusiastic faculty.  There  is  a  conscious  effort  on  the  part of  the  teachers continuously to improve their  qualifications  and  competence  as  teachers by  participating  in  research activities, seminars, workshops, orientation and refresher courses sponsored  by  U.G.C. and  other  bodies.  The  college  has  maintained  high  academic  standard  and  figures prominently in the  list  of  high  achievers. It has bagged many state and university awards for its extensional activities.  Normally  the  annual  result  is above  95 %.  The  college  provides  ample opportunity and  support  to  students  who are good  at  sports, music, dramatics, elocutions,  debating,  N.S.S. activities, etcetera and  has  produced many students  who  have  excelled  in  these  fields.  </div> 
            </div>
        </div>
    </div>
    </section>

    <section id="content">
        <div class="container">
            <div class="row">
                <div class="features">
                    <h1 class="aligncenter">Our Vision and Mission</h1>
                    <div class="col-md-4 col-sm-6 wow fadeInUp animated" data-wow-duration="300ms" data-wow-delay="0ms" style="visibility: visible; -webkit-animation-duration: 300ms; -webkit-animation-delay: 0ms;">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-bullseye"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"></h4>
                                <p>To make the Institution one of the best places to seek
  knowledge and wisdom.</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp animated" data-wow-duration="300ms" data-wow-delay="100ms" style="visibility: visible; -webkit-animation-duration: 300ms; -webkit-animation-delay: 100ms;">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-bullseye"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"></h4>
                                <p>To transform the students strength into the strength of 
  the  nation.</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp animated" data-wow-duration="300ms" data-wow-delay="200ms" style="visibility: visible; -webkit-animation-duration: 300ms; -webkit-animation-delay: 200ms;">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-bullseye"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"></h4>
                                <p>To provide  higher education  to the  girl students  and 
  the  under  privileged  class  of  the  rural  society.   </p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                
                    <div class="col-md-4 col-sm-6 wow fadeInUp animated" data-wow-duration="300ms" data-wow-delay="300ms" style="visibility: visible; -webkit-animation-duration: 300ms; -webkit-animation-delay: 300ms;">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-bullseye"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"></h4>
                                <p>To  become a leading rural institution of par excellence 
  in humanities and commerce.  </p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp animated" data-wow-duration="300ms" data-wow-delay="400ms" style="visibility: visible; -webkit-animation-duration: 300ms; -webkit-animation-delay: 400ms;">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-bullseye"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"></h4>
                                <p>To prepare the students  for  global  challenges  and  inter-national  outlook.  </p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp animated" data-wow-duration="300ms" data-wow-delay="500ms" style="visibility: visible; -webkit-animation-duration: 300ms; -webkit-animation-delay: 500ms;">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-bullseye"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"></h4>
                                <p>To imbibe  the culture  of  patriotism,  the  virtue of  sacrifice,  self  respect  and  integrity of character among the  students. </p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                </div>
            </div>   
        </div>
    </section>
    
	
	
	<section class="aboutUs">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="aligncenter" style="text-align: justify;"><h2 class="aligncenter">Our Students</h2>We  are  very proud to say that in the span of 25 years our institution has made fame and name in the university as a model rural college.  We have enabled hundreds of  under privilege rural youths to graduate and get employment.  We have  successfully fulfilled our  moto: to make the  institution one of the best places for the seek of knowledge and wisdom, to provide higher education to the girl student. A host of academic and co-curricular activities take place every year, supplementing the class room work.  Student representation is provided in various committees where they are free to express their opinion and  grievances.  Rather than having an exclusively exam oriented approach the college  practices comprehensive strategies  to promote advancement in essential  areas. .</div>
				<br/>
			</div>
		</div> 
		<div class="row">
							<div class="col-md-6">
								<img src="../sfgc/img/sfgc/04.jpg" alt="">
								<div class="space"></div>
							</div>
							<div class="col-md-6" style="text-align: justify;">
								<p><i class="fa fa-arrow-circle-right pr-10 colored"></i> In the class room, debates, group discussions, seminars and internal assessment tests are arranged to help  students in their intellectual development. This helps them to shed their inhibitions and boost their confidence. The cultural and sports committee searches for talents among students and they participate in many such competitions and bring honour to the college.</p>
								<p><i class="fa fa-arrow-circle-right pr-10 colored"></i> Guest lectures, visits of eminent personalities and great achievers motivate our students. We have been arranging number of such programs to inspire our students.</p>
                                <p><i class="fa fa-arrow-circle-right pr-10 colored"></i> Prizes and awards are given every year on the cultural day to encourage meritorious and talented students. Many of our Committees and cells have been helping students through Students Counseling Cell, Placement Cell, Mid-day meal committee and student welfare committee.  We have also arranged campus selection by reputed companies</p>
								<!-- <ul class="list-unstyled">
									<li><i class="fa fa-arrow-circle-right pr-10 colored"></i> Lorem ipsum enimdolor sit amet</li>
									<li><i class="fa fa-arrow-circle-right pr-10 colored"></i> Explicabo deleniti neque aliquid</li>
									<li><i class="fa fa-arrow-circle-right pr-10 colored"></i> Consectetur adipisicing elit</li>
									<li><i class="fa fa-arrow-circle-right pr-10 colored"></i> Lorem ipsum dolor sit amet</li>
									<li><i class="fa fa-arrow-circle-right pr-10 colored"></i> Quo issimos molest quibusdam temporibus</li>
								</ul> -->
							</div>
						</div>
	
	</div>
	</section>
	<section id='events'>
	<div class="container">
	<div class="row">
			<div class="col-md-12">
				<div class="aligncenter"><h2 class="aligncenter">Our Events</h2>The institution believes in the overall development of the personality of student. Our aim is to impart value added quality education. Specific goals and objectives are set and all employees are impressed upon realizing the goal.</div>
				<br>
			</div>
		</div>
	<div class="row">
                <div class="col-md-4">
                    <div class="post3">
                        <img src="../sfgc/img/sfgc/05.jpg" alt="">
                        <!-- <a href="#">
                            <time datetime="2015-03-01">
                                <span class="year">2017</span>
                                <span class="month">Feb</span>
                            </time>
                            <p>Lorem ipsum dolor sit amet, consectetur adipis.</p>
                        </a> -->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="post3">
                        <img src="../sfgc/img/sfgc/06.jpg"alt="">
                        <!-- <a href="#">
                            <time datetime="2015-03-01">
                                <span class="year">2017</span>
                                <span class="month">March</span>
                            </time>
                            <p>Apsum dolor sit amet, consectetur adipisdslif.</p>
                        </a> -->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="post3">
                        <img  src="../sfgc/img/sfgc/07.jpg" alt="">
                       <!--  <a href="#">
                            <time datetime="2015-03-01">
                                <span class="year">2017</span>
                                <span class="month">April</span>
                            </time>
                            <p>Dolor sit amet, consectetur adipisic indfeft</p>
                        </a> -->
                    </div>
                </div>
            </div>
	</div>
	</section>
    <!-- 
	<section id="clients">
        <div class="container">
            	<div class="row">
			<div class="col-md-12">
				<div class="aligncenter"><h2 class="aligncenter">Campus Placement</h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident, doloribus omnis minus ovident, doloribus omnis minus temporibus perferendis nesciunt..</div>
				<br/>
			</div>
		</div>
            <div class="row">
                <div class="col-md-2 col-sm-4 client">
                    <div class="img client1"></div>
                </div>
                <div class="col-md-2 col-sm-4 client">
                    <div class="img client2"></div>
                </div>
                <div class="col-md-2 col-sm-4 client">
                    <div class="img client3"></div>
                </div>
                <div class="col-md-2 col-sm-4 client">
                    <div class="img client1"></div>
                </div>
                <div class="col-md-2 col-sm-4 client">
                    <div class="img client2"></div>
                </div>
                <div class="col-md-2 col-sm-4 client">
                    <div class="img client3"></div>
                </div>
            </div>
        </div>
    </section> -->
	<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="widget">
                    <h5 class="widgetheading">Our Contact</h5>
                    <address>
                    <strong>Sharavathi First Grade College-Konandur</strong><br>
                    Thirthahalli Taluk Shivamogga District. Karnataka<br>
                     Pin-577 422.</address>
                    <p>
                       <i class="icon-phone"></i>Ph : 08181 276635<br>
                        <i class="icon-envelope-alt"></i>e-mail : sfgckonandur@gmail.com
                    </p>
                </div>
            </div>
           <div class="col-lg-3">
                <!-- <div class="widget">
                    <h5 class="widgetheading">Quick Links</h5>
                    <ul class="link-list">
                        <li><a href="#">Latest Events</a></li>
                        <li><a href="#">Terms and conditions</a></li>
                        <li><a href="#">Privacy policy</a></li>
                        <li><a href="#">Career</a></li>
                        <li><a href="#">Contact us</a></li>
                    </ul>
                </div> -->
            </div>
            <div class="col-lg-3">
                <div class="widget">
                    <h5 class="widgetheading">Quick Links</h5>
                    <ul class="link-list">
                        <li><a href="http://logisys.net.in/studentportal/sign-in.html">Student Portal Link</a></li>
                        <li><a href="http://logisys.net.in/results/kus/">Result Link</a></li>
                    
                    </ul>
                </div>
            </div>
            <!--  <div class="col-lg-3">
                    <div class="widget">
                    <h5 class="widgetheading">Recent News</h5>
                    <ul class="link-list">
                        <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></li>
                        <li><a href="#">Pellentesque et pulvinar enim. Quisque at tempor ligula</a></li>
                        <li><a href="#">Natus error sit voluptatem accusantium doloremque</a></li>
                    </ul>
                </div>
            </div> 
        </div>
    </div>
    <div id="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="copyright">
                        <p>
                            <span>&copy; Genius Educational 2015 All right reserved. By </span><a href="http://webthemez.com" target="_blank">WebThemez</a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ul class="social-network">
                        <li><a href="#" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#" data-placement="top" title="Google plus"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>-->
    </footer>
</div>
<!-- <a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a> -->
<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../sfgc/js/jquery.js"></script>
<script src="../sfgc/js/jquery.easing.1.3.js"></script>
<script src="../sfgc/js/bootstrap.min.js"></script>
<script src="../sfgc/js/jquery.fancybox.pack.js"></script>
<script src="../sfgc/js/jquery.fancybox-media.js"></script> 
<script src="../sfgc/js/portfolio/jquery.quicksand.js"></script>
<script src="../sfgc/js/portfolio/setting.js"></script>
<script src="../sfgc/js/jquery.flexslider.js"></script>
<script src="../sfgc/js/animate.js"></script>
<script src="../sfgc/js/custom.js"></script>
<script src="../sfgc/js/owl-carousel/owl.carousel.js"></script>
</body>
</html>