.percent-without-symbol:after{
	content: '' !important;
}
.project-description,.project-description > div.card-body,.project-description:link,.project-description:active,.project-description:visited{
	text-decoration: none;
	color: #5e5e5e;
}
.blink_me {
  animation: blinker 1s linear infinite;
  color: red
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
